treechildren::-moz-tree-cell-text(defaultFormat) {
	font-weight: bold;
}

#copyurlsexpert-treeformats {
	margin-top:0.6em;
	margin-bottom:0.6em;
	max-height: 310px;
}

#copyurlsexpert-treeformats > treecols {
	border: 0;
	padding: 0;
	-moz-appearance: none;
}

/* prefpane do not resize correctly on MacOS for auto height of content */
prefpane > groupbox {
	/*height: auto;*/
	overflow: auto;
}

prefpane > groupbox > vbox {
	padding-top:0.2em;
}

grid > rows > row {
	padding-top:0.2em;
}

#copyurlsexpert-generaloptionstabpanel grid>rows>row>label {
	padding-top:0.3em;
}

.topgap {
	padding-top:1em;
	text-transform:uppercase;
	font-size:1.0em;
	font-weight:bold;
	letter-spacing: 0.1em;
}

.prefWindow-dlgbuttons {
	height: 0;
	display:none;
	overflow: hidden;
}

#copyurlsexpert-optionsbottompanel {
	padding: 0 0.6em 0.6em 1.3em;
}

.helplabel {
	vertical-align: text-bottom;
}

#copyurlsexpert-treeshortcutkeys {
	margin-top: 10px;
	margin-bottom: 10px;	
}

#copyurlsexpert-treeshortcutkeys treechildren::-moz-tree-cell-text(cue-shortcut-msg) {
	color: red;
}


.cue-shortcut-warn {
		padding-bottom: 5px;		
}